 <h1>Contact Form</h1>
      
<form class="ui stacked segment inverted form" href="/dashboard" action="/about/addcomment" method="POST">
  <div class="field">
    <label>Leave A Comment!!</label>
    <input placeholder="Comment" type="text" name="comment" autofocus required>
  </div>
  <button class="ui blue submit button">Add Comment</button>
</form>