<form class="ui inverted stacked segment form" action="/dashboard/addseries" method="POST">
  <div class="field">
    <label>Title</label>
    <input placeholder="Title" type="text" name="title" autofocus required>
  </div>
  <div class="field">
    <label>Genre</label>
    <input placeholder="Genre" type="text" name="genre" autofocus required>
  </div>
  <button class="ui blue submit button">Add Series</button>
</form>