<div class="ui card">
  <div class="ui inverted small center aligned image">
    <img src="{{img}}">
  </div>
  <div class="content">
    <p class="center aligned header">{{title}}</p>
    <div class="center aligned meta">
      <a href="/gallery/deletepicture?img={{img}}">
        <i class="red icon trash"></i>
      </a>
    </div>
  </div>
</div>