{{#each comments}}
<section class="ui inverted segment">  
<p>
  <i class="user  icon"></i>
  <b>{{fullname}}</b> 
  <span class="date"> {{now}}</span> 
  <br>"{{comment}}"
  </p>
   
  </section>
{{/each}}


