<nav class="ui inverted menu">
    <header class="ui header item"> <a href="/dashboard">GamerCube</a></header>
  <img>
  
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="gallery" class="item" href="/gallery"> Gallery </a>
    <a id="about" class="item" href="/about"> About </a>
    <a id="logout" class="item" href="/login"> Log Out </a>

    
  </div>
</nav>

    <script>
  $("#{{id}}").addClass("active item");
</script>

