{{> menu id="gallery"}}

<section class="ui inverted segment seriesSegment">
  <h1 class="ui header">
   {{user.firstName}} {{user.lastName}}'s  Gallery
  </h1>

  <section class="ui raised segment">
    <h3 class="ui header">
      My Pictures:
    </h3>
    <div class="ui cards">
      {{#each album.photos}}
        {{> card}}
      {{/each}}
    </div>
  </section>

    <section class="ui raised inverted segment seriesSegment">
    <div class="ui small dividing header"> Picture Upload </div>
    <section class="ui inverted raised form segment">
      <form action="/gallery/uploadpicture" method="post" enctype="multipart/form-data">
        <div class="two fields">
          <div class="field">
            <label>File Name</label>
            <input type="file" name="picture"> 
          </div>
          <div class="field">
            <label>Title</label>
            <input placeholder="Title" type="text" name="title">
          </div>
        </div>
        <button class="ui mini blue submit button"> Upload </button>
      </form>
    </section>
  </section>
</section>