{{> welcomemenu }}

<section class="ui center aligned middle aligned inverted segment">
  
     <img class="ui centered logostart" 
         height="400" 
         width="800" 
         src="https://cdn.glitch.com/84a8e2a2-7472-4fa9-97e2-74b53b4578c8%2FMy%20Drawing%20(6).png?1551743450801">

     <h1> Sign up or Log in... </h1>
  
</section>